<div align="center">

<%= tinymce %>


<%= simple_form_for(@post, :html => {:class => 'well'}) do |f|  %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :Título %>
    <%= f.text_field :title, :class => "input-xlarge", :rows => 10 %>
  </div>
  <div class="field">
    <%= f.label :Contenido %>
    <%= f.text_area :content, class:"tinymce"%>
  </div>
  <div class="field">
    <%= f.label :¿Publicar? %> 
    <%= f.check_box :published %>
  </div>
<div class="actions">
    <%= f.submit "Enviar", class: :"btn btn-primary active"%>
    <%= link_to 'Cancelar', posts_path, class: :"btn btn-danger active"%>
      <% session[:url_anterior_edit] = nil %>
<% end %>

</div>