<table class="table table-striped">
  <tr>
    <th>Autor</th>
    <th>Título</th>
    <th>Contenido</th>
    <th>¿Publicado?</th>
  </tr>

  <tr class="info">
    <td><%= @post.user.username %></td>
    <td><%= @post.title %></td>
    <td><%= @post.content %></td>
    <% if @post.published == true %>
      <td>Sí</td>
    <% else %>
      <td>No</td>
    <% end %>
  </tr>
</table>

<div align="left">
  <%= render @post.comments%>
</div>


<div align="center">

  <%= tinymce %>

  <%= simple_form_for([@post, @post.comments.build], :html => {:class => 'well'}) do |f|  %>

    <div class="field">
      <%= f.label :Usuario %>
      <%= f.text_field :commenter, :class => "input-xlarge", :rows => 10%> 
    </div>

    <div class="field">
      <%= f.label :Comentario %>
      <%= f.text_area :body, class: "tinymce", :rows => 1  %> 
    </div>

    <div class="actions">
      <%= f.submit "Comentar", class: :"btn btn-primary active"%>
      <%= link_to 'Cancelar', posts_path, class: :"btn btn-danger active"%>
      <% session[:url_anterior_edit] = nil %>
    </div>
  <% end %>
</div>
