<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "bootstrap-responsive" %>
    <%= csrf_meta_tags %>
  </head>
  <body>





<div align="center">
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
       <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to (image_tag 'FotoBlog.jpg', :height => '200', :width => '200'), root_path, :class => 'brand'%>

      <ul class="nav">
          <%if current_user%> <!-- Si existe current user es  porque el usuario está logueado -->
            <li class="brand active"><%=link_to "Post", posts_path()%></li>
            <li class="brand active"><%=link_to "Cerrar Sesión #{current_user.username}",  destroy_user_session_path, :method => :delete %></li> <!-- Muestra el log out y el nombre del usuario -->
          <%end%>
      </ul>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div> 
    </div>
  </div>
</div>

    <%if current_user%> <!-- Si existe current user es  porque el usuario está logueado -->         
      <div class='container'>
        <ul class="breadcrumb">
          <%= render_breadcrumbs :separator => ' / ' %>
      <%end%>
      </ul>
    </div>

      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <div class="flash">
                <%- if !notice.nil? -%>
                <div class="alert alert-success">
                  <button class="close" data-dismiss="alert">×</button>
                  <p><%= notice %></p>
                </div>
                <%- end -%> 
                <%- if !alert.nil? -%>
                <div class="alert alert-error">
                  <button class="close" data-dismiss="alert">×</button>
                  <p><%= alert %></p>
                    </div>
                <%- end -%>     
            </div>
            <%= yield %>
          </div>
        </div>
      </div> <!-- rowfluid 1 cerrado -->

        
      <hr>



      <div class="row-fluid">
        <div class="span6">
          <div class="footer-left">
            <p style="color: #FFFFFF"> <small><strong>BLog Curso Ruby on Rails</strong> 2013 <SUP>©</SUP></small></p>
          </div>
        </div>
        <div class="span6">
          <div class="footer-right">
            <div class="pull-right">
              <p style="color: #FFFFFF"> <small>By Sara Rijo García</small> </p>
            </div>
          </div>
        </div>
      </div> <!-- rowfluid 3 cerrado -->
  </body>
</html>